@model SelectListTest.Models.InventoryViewModel

@{
    ViewData["Title"] = "Delete";
}
    <div class="panel narrow fg-gradient">
        <h1>Delete</h1>

        <h3>Are you sure you want to delete this?</h3>
        <hr />
        <div class="panel-inner">
            <dl>

                <dt>
                    @Html.DisplayNameFor(model => model.CoffeeFullName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CoffeeFullName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.VendorName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.VendorName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PricePerLbs)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PricePerLbs)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.LbsOnHand)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LbsOnHand)
                </dd>
            </dl>

            <form asp-action="Delete" class="d-flex flex-column justify-content-center">
                <input type="hidden" asp-for="ItemId" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index" class="btn">Back</a>
            </form>
        </div>
    </div>