@model  IEnumerable<SelectListTest.Models.InventoryViewModel>
@{
    ViewData["Title"] = "GreenIndex";
}

<h1>GreenIndex</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CoffeeFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerLbs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LbsOnHand)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CoffeeFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PricePerLbs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LbsOnHand)
                </td>
                <td>
                    <a asp-action="Roast" asp-route-id="@item.ItemId">Roast</a>
                </td>
            </tr>
        }
    </tbody>
</table>