@model SelectListTest.Models.InventoryViewModel

@{
    ViewData["Title"] = "Roast";
}
<div class="panel narrow fg-gradient">

<h1>Roast</h1>

<h3>@ViewData["ErrorMessage"]</h3>
<hr />
    <div class="panel-inner">
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.CoffeeFullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoffeeFullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VendorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VendorName)
        </dd>
    </dl>

    <div>
        <form asp-action="Roast">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ItemId" />
            <input type="hidden" asp-for="CoffeeId" />
            <input type="hidden" asp-for="VendorId" />
            <input type="hidden" asp-for="PricePerLbs" />
            <div class="form-group">
                <label asp-for="RoastName" class="control-label"></label>
                <select asp-for="RoastId" asp-items="Model.Roasts" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="LbsOnHand" class="control-label"></label>
                <input asp-for="LbsOnHand" class="form-control" />
                <span asp-validation-for="LbsOnHand" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <input type="submit" value="Save" class="btn"/>
            </div>
            <div>
                <a asp-action="Index" class="btn">Back</a>
            </div>
        </form>
    </div>
</div>


    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
