@model IEnumerable<SelectListTest.Models.RoastModel>

@{
    ViewData["Title"] = "Index";
}
<div class="panel fg-gradient">
<h1 class="border-bottom">Index</h1>

<p>
    <a asp-action="Create" class="montserrat btn p-1">Add Roast</a>
</p>
<table class="table panel-inner">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="d-none d-lg-flex justify-content-end">
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit btn-table"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt btn-table"></i></a>
                </td>
            </tr>
            <tr class="d-lg-none d-table-row">
                <td colspan="2">
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit btn-table"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt btn-table"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
    </div>